@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

svg {
    cursor: pointer;
}
.container {
    background: url(images/backimage.png);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background: transparent;
}

.navbar .logo {
    display: inline-block;
    margin-left: 28px;
    margin-top: 20px;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #f3f3f3;
}
.navbar ul {
    float: right;
    margin-right: 20px;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Montserrat', sans-serif;
    transition: .5s ;

}


.navbar ul li a.active,
.navbar ul li a:hover
{
    background: #2cbc7c; 
    border-radius: 4px; 

}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    width: 900px;
    text-align: center;
    
}




.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px ;
    width: 150px;
    font-size: 18px;
    color: #2cbc7c;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #fafafa;
    border-radius: 4px;
    font-weight: bold;
    transition: .5s;
}

.buttons button:hover {
    background: #2cbc7c ;
    color: white;
    border:  1px solid #2cbc7c;
}

::-webkit-scrollbar {
    background: #2cbc7c;
}




















